@model Introduction
@{
    ViewData["Title"] = "Detail";
}

<link rel="stylesheet" href="~/fontawesome-5.5/css/all.min.css" />
<link rel="stylesheet" href="~/slick/slick.css">
<link rel="stylesheet" href="~/slick/slick-theme.css">
<link rel="stylesheet" href="~/css/magnific-popup.css">
<link rel="stylesheet" href="~/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/templatemo-style.css" />
<h1>Detail</h1>
<br />
<br />

<div class="col-4">
    <i class="fas fa-4x @Model.Icon text-center tm-icon"></i><br /><br />
    <h3>Title: @Model.Title</h3>
    <h4>Description:@Model.Description </h4><br />
    <a class="btn btn-info" asp-action="Index">Back</a>
</div>

